@import url(https://fonts.googleapis.com/css?family=Oswald);
html{
  height: 100%;
  width: 100%;
}
body{
    margin: 0px;
    height: 100%;
    display: flex;
    font-family: 'Roboto Slab', serif;
    width: 100%;
    
}
.container-fluid{
  height: 100%;
  width: 100%;
  padding:0px;
}
#presentation-box{
  width: 50%;
}
#presentation{
  height: 100%;
  background-color:#010101;
  text-align: left;
  width: 50%;
  position: fixed;

}

#right-container{
 height: 100%;
 width: 50%;
}
#profile_picture{
  border-radius: 100%;
  padding: 0.5%;
  height: 300px;
  width: 300px;
  margin-bottom: 0.3%;
}
#presentation_text{
  margin-top: 5%;
  color: white;
  font-family: 'Roboto Slab', serif;
  font-size: medium;
}
#WhereContacts{
  color: white;
  font-family: 'Roboto Slab', serif;
  font-size: medium;
}
#introduction{
  padding-top: 10%;
  text-align: center;
}
#primary-title{
  font-size: 2em;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0.3125em 0;
  background-color: #e3e3e3;
  position: relative;
  display: inline-block;
  padding: 2px 10px 2px 10px;
  font-family: "Oswald", sans-serif;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.second-title{
    font-size: 1.5em;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0.3125em 0;
    background-color: #e3e3e3;
    position: relative;
    display: inline-block;
    padding: 2px 10px 2px 10px;
    font-family: "Oswald", sans-serif;
    text-align: center;
    border-radius: 5px;
}
.skill-title{
  font-size: 1.2em;
  font-weight: normal;
  margin: 0.3125em 0;
  background-color: transparent;
  position: relative;
  padding: 0 10px;
  font-family: "Oswald", sans-serif;
  margin-bottom: 2%;

}
.tag-skill{
  background: #5f6769;
  border-radius: 3px 0 0 3px;
  color: white;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}
.tag-skill::before {
  background: white;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag-skill::after {
  background: #5f6769;
  border-bottom: 13px solid #f1f3f4;
  border-left: 10px solid #5f6769;
  border-top: 13px solid #f1f3f4;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}
#contacts{
  margin-bottom: 33.5px;
  margin-top: 5%;
  text-align: center;
}
.icon{
  width: 33px;
  height: 30px;
  margin: 10px;
}
.icon:hover{
  margin-bottom: 3px;
}
.col{
  display: inline-block;
}
p{
  font-weight: 300;
}
#header{
  display: flex;
  text-align: center;
  padding-top: 1%;
  width: 50%;
  position: fixed;
  z-index: 1;
  background-color: white;
}

#rock{
  height: 30px;
  width: 30px;
}
#about{
  margin: 10%;
  margin-top: 20px;
}

#tab-1{
  margin:5% ;
  margin-top: 9%;
  background-color:#f1f3f4;
  font-family: 'Roboto', sans-serif;
}
#tab-2{
  margin: 5%;
  margin-top: 9%;
  width: 90%;
  height: 90%;
  background-color:#f1f3f4;
  font-family: 'Roboto', sans-serif;
}
#showProjects{
  display: inline-block;
  width: 100%;
}
.project{
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border-style: outset;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #eee;
  box-shadow: 1px 1px 3px #ddd;
}
.img-project{
  float: left;
  width: 18%;
  height: 30%;
  background-color: white;
}
.project .details{
  padding: 1em 1em 0 1em;
  margin-left: 18%;
}
.tag{
  padding: 0 0.5em 0 0.3em;
  background: #f3f3f3;
  border: 1px solid #ddd;
  margin: 0.2em;
  border-radius: 5px;
}
.project .details h3 {
  line-height: 1;
  margin: 0 0 0.5em 0;
  font-style: italic;
}
.ld td ul{
  direction:rtl;
}

ul.tabs{
  margin: 0px;
  padding: 0px;
  list-style: none;
  display:table;
   margin: 0 auto;
}
ul.tabs li{
  background: none;
  color: #222;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  margin-left: 20px;
  font-weight: 400;
  font-size:14px;
}

ul.tabs li.current{
  color: #222;
  border-bottom:2px solid gray;
  font-weight:650;
}
#education ul li{
  list-style-type: circle;
}


.tab-content{
  display: none;
  padding: 15px;
}

.tab-content.current{
  display: inline-block;
  z-index: 2;
}
#right-container-below{
  margin: auto;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
@media only screen and (max-width: 800px) {
  #profile_picture{
    border-radius: 100%;
    padding: 0.5%;
    height: 150px;
    width: 150px;
    margin-bottom: 0.3%;
}
html{
  height: 100%;
  width: 100%;
}
h4{
  font-size: 1rem;
}
body{
  display: inline-block;
  width: 100%;
}
#header{
  width: 100%;
  margin-top: 410px;
  position: absolute;
}
#presentation-box{
  width: 0%;
}
#presentation{
width: 100%;
height: 410px;
z-index: 6;
position: absolute;

  }
#introduction{
padding-top: 4%;
}
#primary-title{
}
#right-container-below{
  width: 100%;
  } 
#tab-1{
  margin-top: 460px;
  width: 320px;
  height: 100%;
  text-align: center;
  }
#tab-2{
  height: 100%;
  margin-top: 460px;
  width: auto;
  }
}

